<!doctype html>
<link rel='stylesheet' href='/stylesheets/chat.css'>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div>
	<h1><%= room.name %></h1>
</div>

<ul class='timeline' id='timeline'>
	<% for (i = limit-1; i > -1; i--) { %>
		<li>
			<img class='timeline-badge' src='<%= messages[i].sender.photo %>'>	
			<div class='timeline-panel'>
				<div class='timeline-body'>
			 		<%= messages[i].content %>
				</div>
				<% var date = new Date(messages[i].timestamp) %>
				<p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> <%= date.getHours() + ':' + date.getMinutes() + ' ' + date.getDate() + '/' + (date.getMonth()+1) + '/' + date.getFullYear() %> by <%= messages[i].sender.name %></small></p>
			</div>
		</li>	
	<% } %>	
</ul>

<form action="">
    <input id = "message"/>
    <button class="btn btn-success">Send</button>
</form>



<script>
  	var socket = io();

  	$('form').submit(function(){
    		socket.emit('send', <%- JSON.stringify(user) %>, <%- JSON.stringify(room) %>, $('#message').val());
    		$('#message').val('');
    		return false;
  	});

	socket.on('send', function(sender, msg){

		var str = "<li>";
		str += "<img class='timeline-badge' src=\"" + sender.photo +"\"/>";	
		str += "<div class='timeline-panel'>";
		str += "<div class='timeline-body'>";
		str += msg
		str += "</div>";
		str += "<p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> "+ sender.name +"</small></p>";
		str += "</div>";
		str += "</li>";
		
		$('#timeline').append(str);

	});

	$( document ).ready(function() {
   		 socket.emit('join', <%- JSON.stringify(room)%>);
	});
</script>
