<!doctype html>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div>
	<h1><%= room.name %></h1>
</div>

<table id="messages" class="table">
	<% for (i = limit-1; i > -1; i--) { %>
		<tr><td width="10%"><%= messages[i].sender.name %>: </td><td><%= messages[i].content %></td></tr>
	<% } %>
</table>

<form action="">
    <input id = "message"/>
    <button class="btn btn-success">Send</button>
</form>



<script>
  	var socket = io();

  	$('form').submit(function(){
    		socket.emit('send', <%- JSON.stringify(user) %>, <%- JSON.stringify(room) %>, $('#message').val());
    		$('#message').val('');
    		return false;
  	});

	socket.on('send', function(sender, msg){
		var str = '<tr><td width="10%">'+ sender.name + ': </td><td>' + msg  + '</td></tr>';
		$('#messages').append(str);
	});

	$( document ).ready(function() {
   		 socket.emit('join', <%- JSON.stringify(room)%>);
	});
</script>
